{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-orderadmin" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-orderadmin">
                    <input type="hidden" name="orderadmin_status" value="1">

                    <h3>{{ orderadmin_base_settings }}</h3>
                    <div class="form-group">
                        <label for="orderadmin_url">{{ orderadmin_url }}</label><br>
                        <input id="orderadmin_url" type="text" name="orderadmin_url" class="form-control" value="{% if saved_settings.orderadmin_url %}{{ saved_settings.orderadmin_url }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="orderadmin_api_key">{{ orderadmin_api_key }}</label><br>
                        <input id="orderadmin_api_key" type="text" name="orderadmin_api_key" class="form-control" value="{% if saved_settings.orderadmin_api_key %}{{ saved_settings.orderadmin_api_key }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="orderadmin_api_secret">{{ orderadmin_api_secret }}</label><br>
                        <input id="orderadmin_api_secret" type="text" name="orderadmin_api_secret" class="form-control" value="{% if saved_settings.orderadmin_api_secret %} {{ saved_settings.orderadmin_api_secret }} {% endif %}">
                    </div>


                    {% if saved_settings.orderadmin_api_key %}
                    {% if saved_settings.orderadmin_api_secret %}
                    <div class="form-group">
                        <label for="orderadmin_products_shop">{{ orderadmin_products_shop }}</label><br>
                        <input id="orderadmin_products_shop" type="text" name="orderadmin_products_shop" class="form-control" value="{% if saved_settings.orderadmin_products_shop %} {{ saved_settings.orderadmin_products_shop }} {% endif %}">
                    </div>
                    {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}